
<p>
  <%== t "title", scope: "decidim.unconfirmed_votes_clear_mailer.send_resume.body" %>
</p>

<ul>
  <% @initiatives.each do |initiative| %>
    <li>
      <%== t("vote", scope: "decidim.unconfirmed_votes_clear_mailer.send_resume.body", initiative_title: translated_attribute(initiative.title)) %>
    </li>
  <% end %>
</ul>


<p>
  <%== t "confirm", scope: "decidim.unconfirmed_votes_clear_mailer.send_resume.body" %>
</p>


<% content_for :note do %>
  <%== t "subject", scope: "decidim.confirmation_reminder_mailer.send_reminder", organization_name: h(@organization.name), link: decidim.notifications_settings_url(host: @organization.host) %>
<% end %>
